.imagesList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.imagesListItm {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.imagesListImg {
    display: block;
}