.movies {
    margin: 0 auto;
    width: 1200px;
    padding: 10px 20px;
    height: 100%;
}

.searchForm {
    padding: 10px 0;
}

.formInput {
    padding: 5px 10px;
    font-size: 20px;
    color: blue;
    border-radius: 10px;
}

.formSubmit {
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    color: blue;
    border-radius: 10px;
}

.movieList {
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}